body {
    background-color: var(--color2);
    margin: 0;
}

/* PRESENTACIÓN DE PÁGINA */
.cont-presentacion {
   
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.3)), url("../MEDIA/IMAGENES/JPG/fondo1.jpg");
    background-size: cover;
    background-size: cover;
    /* Ajuste de la imagen */
    background-position: center;
    /* Alinea la imagen en el centro */
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    display: flex;
}

#frase{
    position: absolute;
    font-size:80px;
    top:20px;
    left: 80px;
    
    color:white;
    font-family: 'Arial', sans-serif;
    text-shadow: 1px 1px 1px white;

}

/* Botones */
#info,#registrar {
    padding: 10px 20px;
    margin: 15px;
    /* Separación entre los botones */
    font-size: 16px;
    cursor: pointer;
    /* Cambia el cursor al pasar por encima */
    background-color: var(--color1);
    /* Color de fondo */
    color: var(--color5);
    /* Color del texto */
    border-radius: 5px;
    /* Bordes redondeados */
}


/*Estilo para el botón de información*/
.secc-desplie {
    font-family: Arial;
    color: var(--color2);
    display: grid;
    text-align: center;
    grid-template-areas: "pres pres pres" "info prev test" "eres quienes cole";

}

#pres-pag {
    border-radius: 12px;
    background-color: var(--color1);
    height: 300px;
    margin: 20px;
    grid-area: pres;
}

#pag-info {
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../MEDIA/IMAGENES/JPG/causaefecto.jpg");
    background-size: cover;
    border-radius: 12px;
    grid-area: info;
    height: 300px;
    margin: 20px;
}

#pag-prev {
    
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../MEDIA/IMAGENES/JPG/BulliynQueEs.jpg");
    background-size: cover;
    border-radius: 12px;
    grid-area: prev;
    background-color: var(--color1);
    height: 300px;
    margin: 20px;
}

#pag-test {
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../MEDIA/IMAGENES/JPG/fondo.jpeg");
    background-size: cover;
    border-radius: 12px;
    grid-area: test;
    background-color: var(--color1);
    height: 300px;
    margin: 20px;
}

#pag-eresVi {
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../MEDIA/IMAGENES/JPG/Quehacer.webp");
    background-size: cover;

    border-radius: 12px;

    grid-area: eres;
    background-color: var(--color1);
    height: 300px;
    margin: 20px;
}

#pag-quieSo {

    
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../MEDIA/IMAGENES/JPG/46.png");
    background-size: cover;

    border-radius: 12px;

    grid-area: quienes;
    background-color: var(--color1);
    height: 300px;
    margin: 20px;
}

#info-cole {
    
    background: linear-gradient(rgba(0, 0, 0, 0.90), rgba(0, 0, 0, 0.65)), url("../MEDIA/IMAGENES/JPG/47.png");
    background-size: cover;

    border-radius: 12px;

    grid-area: cole;
    background-color: var(--color1);
    height: 300px;
    margin: 20px;
}

.link-pag {
    border-radius: 12px;

    color: var(--color5);
    text-decoration: none;
    /* Sin subrayado */
    font-weight: bold;
    /* Negrita */
}

h2 {
    border-radius: 12px;

    color: var(--color5);
    font-size: 24px;
    /* Tamaño de fuente */
    margin-bottom: 10px;
    /* Espacio debajo del título */
}

p {
    border-radius: 12px;
    margin: 25px;
    text-align: justify;
    color: var(--color4);
    font-size: 16px;
    /* Tamaño de fuente */
    margin-bottom: 20px;
    /* Espacio debajo del párrafo */
}